<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="ticketForm" action="/tickets/flights/<%= flight %>" method="POST">
      <label>Price:</label>
      <input type="text" name="price" />
      <label>Seat:</label>
      <input type="text" name="seat" />
      <input type="submit" value="Add Ticket" />
    </form>
  </body>
</html>